Edit your profile


= form_for current_user, url: registration_path(current_user), html: { method: :put } do |f|
  %div.field
    = f.label :email
    %br
    = f.email_field :email, autofocus: true

  %div.field
    = f.label :password
    %br
    = f.password_field :password, autocomplete: "off"

  %div.field
    = f.label :password_confirmation
    %br
    = f.password_field :password_confirmation, autocomplete: "off"

  %div.field
    = f.label :current_password
    %br
    = f.password_field :current_password, autocomplete: "off"

  %div.field
    = f.label :ref
    %br
    = f.text_field :ref


  %div.actions
    = f.submit "Update"

