= form_for current_user, url: '/profile/update_profile', html: { method: :patch } do |f|

  - Wallet::TYPES.each do |wallet_type|
    %div.field
      = label wallet_type, wallet_type
      %br
      = f.text_field "#{wallet_type}_wallet"


  %div.actions
    = f.submit "Update"
