Test your luck

%br

= label 'make a bet', ''
= text_field 'bet', 'bet'

%button.btn.btn-secondary.make_a_bet
  Bet

%br
= render partial: 'opened_deals'

%br
%h3
  Closed deals
%table.table.table-bordered
  %thead.thead-inverse
    %th
      Deal#
    %th
      First User
    %th
      Second User
    %th
      Bet
    %th
      Winner
  - Deal.closed.each do |deal|
    %tr
      %td
        = deal.id
      %td
        = deal.first_user.email
      %td
        = deal.second_user.email
      %td
        = deal.bet
      %td
        = deal.winner.email


