Test your luck

%br

= render partial: 'make_a_deal'

%br
= render partial: 'opened_deals'

%br
%h3
  Closed deals
%table.table.table-bordered
  %thead.thead-inverse
    %th
      Deal#
    %th
      First User
    %th
      Second User
    %th
      Bet
    %th
      Winner
  - @closed_deals.each do |deal|
    %tr
      %td
        = deal.id
      %td
        = deal.first_user.email
      %td
        = deal.second_user.email
      %td
        = deal.bet
      %td
        = deal.winner.email


